<a href="https://colab.research.google.com/github/SourabhMane96/Assignment.py/blob/main/Copy_of_Assignment_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment 2 
#Set
set1={"11","12","13","15"}
set1.add("14")
print(set1)

{'11', '12', '15', '14', '13'}

In [ ]:
#union
set1={"11","12","13"}
set2={"14","15"}
set3=set1.union(set2)
print(set3)

{'14', '11', '12', '15', '13'}

In [ ]:
#intersect
x=set1&set2
print(x)

set()

In [ ]:
#dictionary
mydic={"Mammal":"cheeta","Bird":"parrot","Fish":"swordfish"}
print(mydic)
#Update
mydic["Bird"]="sparrow"
print(mydic)
#Remove Delete
del mydic["Fish"]
print(mydic)

{'Mammal': 'cheeta', 'Bird': 'parrot', 'Fish': 'swordfish'}
{'Mammal': 'cheeta', 'Bird': 'sparrow', 'Fish': 'swordfish'}
{'Mammal': 'cheeta', 'Bird': 'sparrow'}

In [ ]:
#List
list1=[1,"sparta",3.14,True]
print(list1)

[1, 'sparta', 3.14, True]

In [ ]:
#changing/updating element
list1[0]=100
print(list1)

[100, 'sparta', 3.14, True]

In [ ]:
#Append/Add element
list1.append(-87.99)
print(list1)

#Remove element/pop element
list1.pop()

[100, 'sparta', 3.14, True, -87.99, -87.99, -87.99]

-87.99

In [ ]:
#Concatinating
List2 = ["apple","Banana","Mango"]
list1+List2

[100, 'sparta', 3.14, True, -87.99, -87.99, 'apple', 'Banana', 'Mango']

In [ ]:
#Repeating
List2 = ["apple","Banana","Mango"]
List2*3+list1

['apple',
 'Banana',
 'Mango',
 'apple',
 'Banana',
 'Mango',
 'apple',
 'Banana',
 'Mango',
 100,
 'sparta',
 3.14,
 True,
 -87.99,
 -87.99]

In [ ]:
#Tuple
tup1 = (1,True,3.14,5-7j)
print(tup1)
#concatinate
tup2=(4,5,6)
tup1+tup2

(1, True, 3.14, (5-7j))

(1, True, 3.14, (5-7j), 4, 5, 6)

In [ ]:
#tuple Repeat
tup1=(1,2,3)
tup1*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#Assignment 3
def add():
  x=int(input("enter first number:"))
  y=int(input("enter second number:"))
  print("sum of two number"(x+y))
  add()

In [ ]:
#Assigment 3
print("+ Addition","- Subtraction","* multiply","/ Division")

choice=input("Enter your choice :")

num1=int(input("Enter number 1 :"))
num2=int(input("Enter number 2 :"))

if choice == "+":
  print(num1,"+",num2,"=",(num1+num2))
elif choice == "-":
    print (num1,"-",num2,"=",(num1-num2))
elif choice =="3":
      print (num1,"*",num2,"=",(num1*num2))
elif choice == "/":
        if num2==0.0:
          print("divide by 0 error")
        print (num1,"/",num2,"=",(num1/num2))

+ Addition - Subtraction * multiply / Division
Enter your choice :-
Enter number 1 :5
Enter number 2 :1
5 - 1 = 4

In [ ]:
#Assignment 3
x=int(input("enter first value:"))
y=int(input("enter second value:"))
a=x+y
print("sum of two number", a)

enter first value:155
enter second value:222
sum of two number 377

In [ ]:
x=int(input("enter first value:"))
y=int(input("enter second value:"))
b=x-y
print("sum of two number",b)

enter first value:55
enter second value:25
sum of two number 30

In [ ]:
x=int(input("enter first value:"))
y=int(input("enter second value:"))
c=x*y
print("sum of two numbers",c)

enter first value:20
enter second value:21
sum of two numbers 420

In [ ]:
#Assignment 4
myfile=open("file.txt","r+")
print(myfile.read())

code for login
login time log out time
display data
alert mode

In [ ]:
myfile.close()

In [ ]:
myfile=open("file.txt","w+")
myfile.write("my name is panda")

16

In [ ]:
myfile=open("file.txt","r+")
print(myfile.read())

In [ ]:
myfile=open("file.txt","a+")
myfile.write("\n this written by programmer")

28

In [ ]:
myfile=open("file.txt","r+")
print(myfile.read())

my name is panda

In [ ]:
#Assignment 5
#Increasing order
mylist = [10,5,3,2,1]
print("Unordered list:", mylist)
mylist.sort()
print("Increasing order",mylist)

Unordered list: [10, 5, 3, 2, 1]
Increasing order [1, 2, 3, 5, 10]

In [ ]:
#Decreasing order
mylist = [3,5,10,2,1]
print("Unordered list:", mylist)
mylist.sort(reverse=True)
print("Decreasing order",mylist)

Unordered list: [3, 5, 10, 2, 1]
Decreasing order [10, 5, 3, 2, 1]

In [ ]:
#Assignment 6
#Multiplication Table
list_num=[2,3,4,5,6,7,8,9]

In [ ]:
dict={}
for num in list_num:
dict[list_num] = list(map(lambda x,y: x*y, list(range(1,11)), [list_num] * 10))
dict

IndentationError: ignored

In [ ]:
#Assignment6
x= (1,10)
y= (1,10)

tables = lambda x,y:x*y for x in range(1,11)
print(tables(1,11))

SyntaxError: ignored